<div
  class="w-64 h-screen bg-[#1C3D67] text-white shadow-lg fixed sidebar transition-all duration-300"
  [class.closed]="!isOpen"
>
  <!-- Logo UPAO -->
  <div class="flex justify-center items-center h-20 border-b border-white/20">
    <img src="upao_logo_white.png" alt="Logo" class="w-36" />
  </div>

  <!-- Botón Dashboard destacado -->
  <div class="border-t border-white/30 px-4 pt-2">
    <a
      routerLink="/Tickets"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-barcode"></i>
      <span>Tickets</span>
    </a>
  </div>

  <div class="px-4 py-2">
        <a
      routerLink="/Menu"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-chart-bar"></i>
      <span>Menú</span>
    </a>
  </div>
  

  <div class="border-b border-white/30 px-4 pb-2">
        <a
      routerLink="/IISMuro/Usuarios"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-users"></i>
      <span>Usuarios</span>
    </a>
  </div>

  <!-- Menú general -->
  <nav class="flex flex-col gap-2 p-4 text-sm font-medium">
    <a
      routerLink="/IISMuro/Sistemas"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-cog"></i>
      <span>Sistemas</span>
    </a>

    <!-- <a
      routerLink="/IISMuro/Endpoints"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-link"></i>
      <span>Endpoints</span>
    </a> -->

    <a
      routerLink="/IISMuro/Plantilla-Integracion"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-sliders-h"></i>
      <span>Plantillas</span>
    </a>

    <a
      routerLink="/IISMuro/Transformacion-Campos"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-filter"></i>
      <span>Transformaciones</span>
    </a>

    <!-- <a
      routerLink="/IISMuro/Transformacion-Valores"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-sync"></i>
      <span>Transformación de Valores</span>
    </a> -->

    <a
      routerLink="/IISMuro/Colas"
      routerLinkActive="bg-white/10 font-semibold"
      class="flex items-center gap-3 px-4 py-3 rounded hover:bg-white/10 transition"
    >
      <i class="pi pi-inbox"></i>
      <span>Colas</span>
    </a>
  </nav>
</div>
