<div
  *ngIf="!selectedPlantilla; else headerConSeleccion"
  class="flex items-center justify-between border-b border-gray-200 p-3 bg-white"
>
  <div class="flex-1">
    <h2 class="text-2xl font-bold text-gray-800">PLANTILLA INTEGRACIÓN</h2>
    <p class="text-sm text-gray-500">Gestión de plantillas de integración</p>
    <div *ngIf="endpointIdFilter" class="mt-2 text-sm">
      <span class="px-2 py-0.5 rounded-full border text-gray-700">
        Filtrado por Endpoint: {{ endpointIdFilter }}
      </span>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <p-splitButton
      label="Acciones"
      icon="pi pi-cog"
      [model]="accionesDropdown"
      class="p-button-outlined p-button-sm"
    ></p-splitButton>

    <p-button
      label="Limpiar"
      [outlined]="true"
      icon="pi pi-filter-slash"
      (click)="dt.clear()"
      class="p-button-sm"
    ></p-button>

    <p-iconfield iconPosition="left" class="w-64">
      <p-inputicon><i class="pi pi-search"></i></p-inputicon>
      <input
        pInputText
        (input)="onBuscarGlobal($event)"
        placeholder="Buscar..."
        class="w-full"
      />
    </p-iconfield>
  </div>
</div>

<!-- HEADER cuando SÍ hay plantilla seleccionada -->
<ng-template #headerConSeleccion>
  <div
    class="flex items-center justify-between border-b border-gray-200 py-3 bg-white"
  >
    <div class="flex items-center gap-1">
      <p-button
        icon="pi pi-chevron-left"
        [text]="true"
        (onClick)="limpiarSeleccionPlantilla()"
        pTooltip="Volver a plantillas"
      ></p-button>
      <div>
        <h2 class="text-xl font-bold text-gray-800">
          PLANTILLA DE INTEGRACIÓN SELECCIONADA
        </h2>
        <p class="text-sm text-gray-500">Plantillas destino asociadas</p>
      </div>
    </div>
  </div>
</ng-template>
@if (selectedPlantilla){
<div class="pt-6" id="destinosPorPlantilla">
  <div class="rounded-lg bg-white">
    <div class="p-5 bg-blue-50 flex items-center justify-between shadow-lg">
      <div>
        <div class="flex items-center gap-2 text-lg font-semibold">
          <span class="text-blue-600">{{ selectedPlantilla.pi_nombre }}</span>
          <span class="px-2 py-0.5 text-xs rounded-full border text-gray-700">
            {{ selectedPlantilla.pi_codigo || "ID:" + selectedPlantilla.pi_id }}
          </span>
        </div>
        <span class="font-semibold">
          {{ selectedPlantilla.pi_descripcion }}</span
        >
        <p class="mt-1 text-gray-700 truncate">
          <code class="px-2 py-0.5 rounded bg-white/70">{{
            selectedPlantilla.pi_url
          }}</code>
          •
          <span class="bg-black text-white font-mono px-4 rounded-lg">{{
            selectedPlantilla.pi_metodo_http
          }}</span>
        </p>
        <p class="text-sm text-gray-600">
          Servicio:
          <span class="bg-black text-white font-mono px-4 rounded-lg">{{
            selectedPlantilla.pi_tipo_servicio
          }}</span>
          • Estado:
          <span class="px-2 py-0.5 text-xs rounded-lg bg-gray-500 text-white">{{
            selectedPlantilla.pi_ind_estado || "A"
          }}</span>
        </p>
      </div>

      <div class="flex items-center gap-2">
        <p-button
          label="Nueva Plantilla Destino"
          icon="pi pi-plus"
          severity="success"
          (click)="
            pdCmp?.abrirAgregarPreconfigurado({
              planInteId: selectedPlantilla.pi_id,
              sistId:
                selectedPlantilla.pi_sist_id ||
                selectedPlantilla.pi_sist_orig_id
            })
          "
        ></p-button>
      </div>
    </div>

    <div class="py-5">
      <!-- pasa el ID de la plantilla para filtrar destinos -->
      <app-plantilla-destino
        #pdCmp
        [plantillaIId]="selectedPlantilla.pi_id"
      ></app-plantilla-destino>
    </div>
  </div>
</div>
}

<!-- Tabs -->
<div *ngIf="pantallaPequena && !selectedPlantilla" class="p-2">
  <p-iconfield iconPosition="left" class="w-full mb-4">
    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
    <input
      pInputText
      type="text"
      (input)="filtrarGlobal($event)"
      placeholder="Buscar Plantilla..."
      class="w-full"
    />
  </p-iconfield>

  <div class="flex flex-col gap-4">
    <div
      *ngFor="let plantilla of plantillasFiltradas"
      class="bg-white p-4 rounded shadow border"
    >
      <div><strong>Código:</strong> {{ plantilla.pi_codigo }}</div>
      <div><strong>Nombre:</strong> {{ plantilla.pi_nombre }}</div>
      <div><strong>Servicio:</strong> {{ plantilla.pi_tipo_servicio }}</div>
      <div><strong>URL:</strong> {{ plantilla.pi_url }}</div>
      <div class="flex justify-end mt-2 gap-2">
        <button
          pButton
          type="button"
          [text]="true"
          [rounded]="true"
          [severity]="'secondary'"
          class="btn-icon"
          pTooltip="Editar"
          (click)="$event.stopPropagation(); showEditar(plantilla)"
        >
          <i class="pi pi-pencil"></i>
        </button>
        <!-- único botón para agregar Plantilla Destino -->
        <button
          pButton
          type="button"
          [text]="true"
          [rounded]="true"
          [severity]="'success'"
          class="btn-icon"
          pTooltip="Agregar Plantilla Destino"
          (click)="
            $event.stopPropagation(); agregarDestinoDesdeIntegracion(plantilla)
          "
        >
          <i class="pi pi-plus"></i>
        </button>
        <button
          pButton
          type="button"
          [text]="true"
          [rounded]="true"
          [severity]="'danger'"
          class="btn-icon"
          pTooltip="Eliminar"
          (click)="$event.stopPropagation(); eliminar(plantilla)"
        >
          <i class="pi pi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
@if (!pantallaPequena && !selectedPlantilla) {
<div class="p-2 text-center text-gray-600">
  <p-table
    #dt
    [value]="plantillasFiltradas"
    dataKey="pi_id"
    selectionMode="single"
    [(selection)]="selectedPlantilla"
    [metaKeySelection]="false"
    rowHover
    (onRowSelect)="onPlantillaSelected($event.data)"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="[
      'pi_codigo',
      'pi_nombre',
      'pi_tipo_servicio',
      'pi_url'
    ]"
  >
    <ng-template #header>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Servicio</th>
        <th>URL</th>
        <th>Método</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-plantilla>
      <tr [pSelectableRow]="plantilla">
        <td>{{ plantilla.pi_codigo }}</td>
        <td>{{ plantilla.pi_nombre }}</td>
        <td>{{ plantilla.pi_tipo_servicio }}</td>
        <td>{{ plantilla.pi_url }}</td>
        <td>{{ plantilla.pi_metodo_http }}</td>
        <td>
          {{ plantilla.pi_fecha_actividad | date : "dd MMM yyyy, HH:mm" }}
        </td>
        <td>
          <div class="flex gap-2 justify-center">
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'secondary'"
              class="btn-icon"
              pTooltip="Editar"
              (click)="$event.stopPropagation(); showEditar(plantilla)"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <!-- único botón para agregar Plantilla Destino -->
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'success'"
              class="btn-icon"
              pTooltip="Agregar Plantilla Destino"
              (click)="
                $event.stopPropagation();
                agregarDestinoDesdeIntegracion(plantilla)
              "
            >
              <i class="pi pi-plus"></i>
            </button>
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'danger'"
              class="btn-icon"
              pTooltip="Eliminar"
              (click)="$event.stopPropagation(); eliminar(plantilla)"
            >
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="7">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
}

<p-toast></p-toast>

<p-dialog
  [(visible)]="mostrarDialogoAgregar"
  header="Agregar Plantilla"
  [style]="{ width: '60rem' }"
  [breakpoints]="{ '960px': '90vw' }"
  modal
  [dismissableMask]="true"
  appendTo="body"
  (visibleChange)="cerrarDialogoAgregar()"
>
  <div class="flex flex-col gap-4 h-full">
    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-tag"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Codigo de Plantilla"
        [(ngModel)]="nuevaPlantilla.pi_codigo"
      />
    </p-inputgroup>
    <!-- Nombre -->
    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-tag"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Nombre de la plantilla"
        [(ngModel)]="nuevaPlantilla.pi_nombre"
      />
    </p-inputgroup>

    <!-- Descripción -->
    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-align-left"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Descripción"
        [(ngModel)]="nuevaPlantilla.pi_descripcion"
      />
    </p-inputgroup>

    <!-- Tipo de Servicio -->
    <div class="flex flex-col">
      <label class="font-semibold text-sm">Tipo de Servicio</label>
      <p-select
        [(ngModel)]="nuevaPlantilla.pi_tipo_servicio"
        [options]="opcionesTipoServicio"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccione"
        class="w-full"
      ></p-select>
    </div>

    <!-- Endpoint -->
    <div class="flex flex-col">
      <label class="font-semibold text-sm">Endpoint</label>
      <p-select
        [options]="endpointsOptions"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="selectedEndpointId"
        placeholder="Seleccione endpoint"
        class="w-full"
        appendTo="body"
        (onChange)="onEndpointSelect($event.value)"
      ></p-select>
    </div>

    <!-- URL -->
    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-globe"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="URL"
        [(ngModel)]="nuevaPlantilla.pi_url"
        disabled="true"
      />
    </p-inputgroup>

    <!-- Método HTTP -->
    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-server"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Método HTTP"
        [(ngModel)]="nuevaPlantilla.pi_metodo_http"
        disabled="true"
      />
    </p-inputgroup>

    <div class="flex flex-col">
      <label class="font-semibold text-sm">Colas</label>
      <p-select
        [options]="colasOptions"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="selectedColaId"
        placeholder="Seleccione cola"
        class="w-full"
        appendTo="body"
        (onChange)="onColaSelect($event.value)"
      ></p-select>
    </div>

    <!-- pi_data (pares key/value) -->
    <div class="flex flex-col gap-2 pt-2">
      <label class="font-semibold text-sm">Parámetros (pi_data)</label>

      <div class="flex grid-cols-1 md:grid-cols-12 gap-2">
        <p-inputgroup class="md:col-span-5">
          <p-inputgroup-addon><i class="pi pi-key"></i></p-inputgroup-addon>
          <input pInputText placeholder="Clave (key)" [(ngModel)]="newKVKey" />
        </p-inputgroup>

        <p-inputgroup class="md:col-span-6">
          <p-inputgroup-addon><i class="pi pi-pencil"></i></p-inputgroup-addon>
          <input
            pInputText
            placeholder="Valor (value)"
            [(ngModel)]="newKVValue"
          />
        </p-inputgroup>

        <div class="md:col-span-1 flex items-center">
          <p-button
            [label]="editingKVIndex !== null ? 'Actualizar' : 'Agregar'"
            icon="pi pi-plus"
            (click)="addOrUpdateKV()"
            [disabled]="!newKVKey"
          ></p-button>
        </div>
      </div>

      <p-table
        [value]="piDataPairs"
        [paginator]="false"
        [style]="{ 'max-height': '200px', overflow: 'auto' }"
      >
        <ng-template #header>
          <tr>
            <th style="width: 40%">Clave</th>
            <th>Valor</th>
            <th style="width: 120px">Acciones</th>
          </tr>
        </ng-template>

        <ng-template #body let-row let-i="rowIndex">
          <tr>
            <td class="text-left break-words">{{ row.key }}</td>
            <td class="text-left break-words">{{ row.value }}</td>
            <td class="text-center">
              <div class="flex gap-2 justify-center">
                <p-button
                  icon="pi pi-pencil"
                  severity="secondary"
                  rounded
                  (onClick)="editKV(i)"
                ></p-button>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  rounded
                  (onClick)="removeKV(i)"
                ></p-button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="3">Sin parámetros.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="flex flex-col gap-2 pt-2">
      <label class="font-semibold text-sm">Esquema (pi_schema)</label>

      <div class="flex grid-cols-1 md:grid-cols-12 gap-2">
        <p-inputgroup class="md:col-span-5">
          <p-inputgroup-addon><i class="pi pi-key"></i></p-inputgroup-addon>
          <input
            pInputText
            placeholder="Clave (key)"
            [(ngModel)]="newSchemaKey"
          />
        </p-inputgroup>

        <p-inputgroup class="md:col-span-6">
          <p-inputgroup-addon><i class="pi pi-pencil"></i></p-inputgroup-addon>
          <input
            pInputText
            placeholder="Valor (value)"
            [(ngModel)]="newSchemaValue"
          />
        </p-inputgroup>

        <div class="md:col-span-1 flex items-center">
          <p-button
            [label]="editingSchemaIndex !== null ? 'Actualizar' : 'Agregar'"
            icon="pi pi-plus"
            (click)="addOrUpdateSchemaKV()"
            [disabled]="!newSchemaKey"
          ></p-button>
        </div>
      </div>

      <p-table
        [value]="schemaPairs"
        [paginator]="false"
        [style]="{ 'max-height': '200px', overflow: 'auto' }"
      >
        <ng-template #header>
          <tr>
            <th style="width: 40%">Clave</th>
            <th>Valor</th>
            <th style="width: 120px">Acciones</th>
          </tr>
        </ng-template>
        <ng-template #body let-row let-i="rowIndex">
          <tr>
            <td class="text-left break-words">{{ row.key }}</td>
            <td class="text-left break-words">{{ row.value }}</td>
            <td class="text-center">
              <div class="flex gap-2 justify-center">
                <p-button
                  icon="pi pi-pencil"
                  severity="secondary"
                  rounded
                  (onClick)="editSchemaKV(i)"
                ></p-button>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  rounded
                  (onClick)="removeSchemaKV(i)"
                ></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="3">Sin campos de esquema.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
      <!-- pi_valida -->
      <div class="md:col-span-6 flex flex-col">
        <label class="font-semibold text-sm">Quién valida (pi_valida)</label>
        <p-select
          [(ngModel)]="nuevaPlantilla.pi_valida"
          [options]="opcionesValida"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          class="w-full"
          appendTo="body"
        ></p-select>
        <small class="text-gray-500 mt-1 block">
          P = Productor (requiere validación obligatoria antes de procesar) • W
          = Worker (decide en tiempo de ejecución)
        </small>
      </div>

      <!-- pi_transforma -->
      <div class="md:col-span-6 flex flex-col">
        <label class="font-semibold text-sm"
          >Quién transforma (pi_transforma)</label
        >
        <p-select
          [(ngModel)]="nuevaPlantilla.pi_transforma"
          [options]="opcionesTransforma"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          class="w-full"
          appendTo="body"
        ></p-select>
        <small class="text-gray-500 mt-1 block">
          W = Worker • P = Productor
        </small>
      </div>
    </div>

    <!-- Número de registros por petición (pi_numreg_peticion) -->
    <div class="flex flex-col">
      <label class="font-semibold text-sm"
        >N° registros por petición (pi_numreg_peticion)</label
      >
      <p-inputgroup>
        <p-inputgroup-addon><i class="pi pi-hashtag"></i></p-inputgroup-addon>
        <input
          pInputText
          type="number"
          inputmode="numeric"
          min="0"
          step="1"
          placeholder="Ej: 100"
          [(ngModel)]="nuevaPlantilla.pi_numreg_peticion"
          class="w-full"
        />
      </p-inputgroup>
    </div>

    <!-- Acciones -->
    <div class="flex justify-end gap-2 pt-4">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        (click)="mostrarDialogoAgregar = false"
        outlined
      ></p-button>
      <p-button
        label="Guardar"
        icon="pi pi-check"
        (click)="guardar()"
        [disabled]="
          !nuevaPlantilla.pi_nombre ||
          !nuevaPlantilla.pi_url ||
          !nuevaPlantilla.pi_metodo_http
        "
      ></p-button>
    </div>
  </div>
</p-dialog>

<p-confirmDialog #cd>
  <ng-template
    #headless
    let-message
    let-onAccept="onAccept"
    let-onReject="onReject"
  >
    <div
      class="flex flex-col items-center p-6 bg-white dark:bg-surface-900 rounded"
    >
      <i class="pi pi-exclamation-triangle text-orange-500 text-4xl mb-3"></i>
      <div class="text-lg font-semibold mb-2">{{ message.header }}</div>
      <p class="text-center">{{ message.message }}</p>
      <div class="flex justify-center gap-3 mt-4">
        <p-button
          label="SI"
          (onClick)="onAccept()"
          styleClass="w-32"
        ></p-button>
        <p-button
          label="NO"
          [outlined]="true"
          (onClick)="onReject()"
          styleClass="w-32"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<app-plantilla-destino #pdCmp style="display: none"></app-plantilla-destino>
