<div
  class="flex items-center justify-between border-b border-gray-200 p-3 bg-white"
>
  <!-- Título -->
  <div class="flex-1 px-4">
    <h2 class="text-2xl font-bold text-gray-800">
      Endpoints
    </h2>
    <p class="text-sm text-gray-500">
      Gestión de endpoints
    </p>
  </div>

  <!-- Acciones -->
  <div class="flex items-center space-x-2">
    <p-splitButton
      label="Acciones"
      icon="pi pi-cog"
      [model]="accionesDropdown"
      class="p-button-outlined p-button-sm"
    ></p-splitButton>
    <p-button
      label="Nuevo"
      icon="pi pi-plus"
      class="p-button-sm"
      (onClick)="AgregarEndpoint()"
    ></p-button>
    <p-button
      label="Limpiar"
      [outlined]="true"
      icon="pi pi-filter-slash"
      (click)="dt.clear()"
    ></p-button>
    <p-iconfield iconPosition="left" class="w-64">
      <p-inputicon>
        <i class="pi pi-search"></i>
      </p-inputicon>
      <input
        pInputText
        (input)="onBuscarGlobal($event)"
        placeholder="Buscar..."
        class="w-full"
      />
    </p-iconfield>
  </div>
</div>
<div *ngIf="pantallaPequena" class="p-2">
  <p-iconfield iconPosition="left" class="w-full mb-4">
    <p-inputicon>
      <i class="pi pi-search"></i>
    </p-inputicon>
    <input
      pInputText
      type="text"
      (input)="filtrarGlobal($event)"
      placeholder="Buscar endpoint..."
      class="w-full"
    />
  </p-iconfield>
</div>
<div *ngIf="pantallaPequena" class="flex flex-col gap-4">
  <div
    *ngFor="let endpoint of endpointsFiltrados"
    class="bg-white p-4 rounded shadow border"
  >
    <div><strong>Código:</strong> {{ endpoint.se_id }}</div>
    <div><strong>Sistema:</strong> {{ endpoint.se_sistema_id }}</div>
    <div><strong>Nombre:</strong> {{ endpoint.se_nombre }}</div>
    <div><strong>URL:</strong> {{ endpoint.se_url }}</div>
    <div><strong>Método HTTP:</strong> {{ endpoint.se_metodo_http }}</div>
    <div>
      <strong>Fecha Actividad:</strong> {{ endpoint.se_fecha_actividad }}
    </div>
    <div><strong>Estado:</strong> {{ endpoint.se_ind_estado }}</div>
    <div class="flex justify-end mt-2">
      <p-button
        icon="pi pi-plus"
        severity="success"
        rounded
        (onClick)="crearPlantillaIntegracion(endpoint)"
        [title]="'Nueva plantilla de integración'"
      ></p-button>
      <p-button
        icon="pi pi-pencil"
        severity="secondary"
        rounded
        (onClick)="showEditar(endpoint)"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        severity="danger"
        rounded
        (onClick)="eliminarEndpoint(endpoint)"
      ></p-button>
    </div>
  </div>
</div>
<div *ngIf="!pantallaPequena" class="p-2 text-center text-gray-600">
  <p-table
    #dt
    [value]="endpointsFiltrados"
    dataKey="se_id"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="[
      'se_nombre',
      'se_sistema_id',
      'se_url',
      'se_metodo_http'
    ]"
  >
    <ng-template #header>
      <tr>
        <th>Código</th>
        <th>Sistema</th>
        <th>Nombre</th>
        <th>URL</th>
        <th>Método HTTP</th>
        <th>Fecha Actividad</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-endpoint>
      <tr>
        <td>{{ endpoint.se_id }}</td>
        <td>{{ endpoint.se_sistema_id }}</td>
        <td>{{ endpoint.se_nombre }}</td>
        <td>{{ endpoint.se_url }}</td>
        <td>{{ endpoint.se_metodo_http }}</td>
        <td>{{ endpoint.se_fecha_actividad | date : "dd MMM yyyy, HH:mm" }}</td>
        <td>{{ endpoint.se_ind_estado }}</td>
        <td>
          <div class="flex gap-2 justify-center">
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'secondary'"
              class="btn-icon"
              pTooltip="Editar"
              (click)="$event.stopPropagation(); showEditar(endpoint)"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'success'"
              class="btn-icon"
              pTooltip="Agregar Plantilla de Integración"
              (click)="
                $event.stopPropagation(); crearPlantillaIntegracion(endpoint)
              "
            >
              <i class="pi pi-plus"></i>
            </button>
            <button
              pButton
              type="button"
              [text]="true"
              [rounded]="true"
              [severity]="'danger'"
              class="btn-icon"
              pTooltip="Eliminar"
              (click)="$event.stopPropagation(); eliminarEndpoint(endpoint)"
            >
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="8">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
<p-dialog
  [(visible)]="mostrarDialogoAgregar"
  header="Agregar Endpoint"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '90vw' }"
  modal
  [dismissableMask]="true"
  appendTo="body"
  (visibleChange)="cerrarDialogoAgregar()"
>
  <div class="flex flex-col gap-4 h-full">
    <div class="flex flex-col">
      <label class="font-semibold text-sm">Sistema</label>
      <p-select
        [(ngModel)]="nuevoEndpoint.se_sistema_id"
        [options]="sistemasOptions"
        placeholder="Seleccione un sistema"
        class="w-full"
      />
    </div>

    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-tag"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Nombre"
        [(ngModel)]="nuevoEndpoint.se_nombre"
      />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-link"></i></p-inputgroup-addon>
      <input pInputText placeholder="URL" [(ngModel)]="nuevoEndpoint.se_url" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon><i class="pi pi-server"></i></p-inputgroup-addon>
      <input
        pInputText
        placeholder="Método HTTP (GET, POST, etc)"
        [(ngModel)]="nuevoEndpoint.se_metodo_http"
      />
    </p-inputgroup>

    <div class="flex flex-col">
      <label class="font-semibold text-sm">¿Requiere Transformar?</label>
      <p-select
        [(ngModel)]="nuevoEndpoint.se_requiere_transformar"
        [options]="opcionesTransformacion"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccione"
        class="w-full md:w-56"
      />
    </div>

    <div class="flex justify-end gap-2 pt-4">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        (click)="mostrarDialogoAgregar = false"
        outlined
      ></p-button>
      <p-button
        label="Guardar"
        icon="pi pi-check"
        (click)="guardarNuevoEndpoint()"
        [disabled]="
          !nuevoEndpoint.se_sistema_id ||
          !nuevoEndpoint.se_nombre ||
          !nuevoEndpoint.se_url ||
          !nuevoEndpoint.se_metodo_http ||
          nuevoEndpoint.se_requiere_transformar === undefined
        "
      ></p-button>
    </div>
  </div>
</p-dialog>

<p-confirmDialog #cd>
  <ng-template
    #headless
    let-message
    let-onAccept="onAccept"
    let-onReject="onReject"
  >
    <div
      class="flex flex-col items-center p-6 bg-white dark:bg-surface-900 rounded"
    >
      <i class="pi pi-exclamation-triangle text-orange-500 text-4xl mb-3"></i>
      <div class="text-lg font-semibold mb-2">{{ message.header }}</div>
      <p class="text-center">{{ message.message }}</p>
      <div class="flex justify-center gap-3 mt-4">
        <p-button
          label="SI"
          (onClick)="onAccept()"
          styleClass="w-32"
        ></p-button>
        <p-button
          label="NO"
          [outlined]="true"
          (onClick)="onReject()"
          styleClass="w-32"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<app-plantillas #plantCmp style="display: none"></app-plantillas>
