<div class="border-b-2 border-gray-200 dark:border-gray-500 p-2 flex items-center justify-between" style="padding-bottom: 19px;">
  <!-- Botón toggle sidebar (izquierda) -->
  <p-button
    [icon]="isSidebarOpen ? 'pi pi-chevron-left' : 'pi pi-chevron-right'"
    styleClass="!bg-white !text-[#1C3D67] !border border-gray-300 hover:!bg-[#1C3D67] hover:!text-white hover:!border-[#1C3D67] dark:hover:!bg-white dark:!text-white dark:!bg-[#1C3D67] dark:hover:!text-[#1C3D67]"
    (click)="toggleSidebar()"
  ></p-button>

  <!-- Contenedor derecho (menú hamburguesa + avatar) -->
  <div class="flex items-center gap-3">
    <!-- Menú hamburguesa (solo en mobile) -->
    <button class="md:hidden" (click)="menuAbierto = !menuAbierto">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
      >
        <path fill="#ea580c" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z" />
      </svg>
    </button>

    <!-- Avatar (desktop y mobile) -->
    <div class="relative" (click)="toggleUserMenu($event)">
      <button
        class="flex items-center border-gray-200 border-2 p-1 rounded-full"
      >
        <img
          [src]="'https://static.upao.edu.pe/upload/f1/' + '000000044' + '.jpg'"
          (error)="reemplazarImagen($event, '000000044')"
          alt="nombrecompleto"
          class="w-10 h-10 rounded-full cursor-pointer"
          title="nombrecompleto"
        />
      </button>

      <!-- Menú desplegable -->
      <div
        *ngIf="showUserMenu"
        class="absolute right-0 mt-2 py-2 w-52 bg-white dark:bg-slate-800 rounded-lg shadow-xl z-50 border-2 border-gray-200 dark:border-gray-700"
      >
        <div
          class="px-4 py-2 text-blue-600 dark:text-white text-sm font-medium"
        >
          <b>DTI</b>
        </div>

        <!-- Configuración -->
        <button
          class="flex items-center w-full px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          (click)="abrirConfiguracion()"
        >
          <i class="pi pi-cog mr-2"></i> Configuración
        </button>

        <!-- Dark Mode -->
        <button
          class="flex items-center w-full px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          (click)="toggleDarkMode()"
        >
          <i class="pi pi-moon mr-2"></i>
          {{ darkMode ? "Modo Claro" : "Modo Oscuro" }}
        </button>

        <!-- Cerrar sesión -->
        <a
          class="flex items-center justify-center m-2 px-4 py-2 text-sm text-white bg-orange-600 hover:bg-orange-700 rounded-md cursor-pointer"
          (click)="cerrarSesion()"
        >
          <i class="pi pi-sign-out mr-2"></i> Cerrar Sesión
        </a>
      </div>
    </div>
  </div>
</div>
